<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Obtener recurso -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Ubicacion del archivo -->
    <property name="LOGS" value="C:\Users\juan3\OneDrive\Documentos\SprintBoot\modelo_de_datos\src\main\resources\logs" />

    <!-- Mensaje que se mandara por consola -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%-5p] [%t] [%d{ddMMyyyy HH:mm:ss}] [%c[%L]] %m %n</Pattern>
        </layout>
    </appender>

    <!-- Mensaje que se mandara por un archivo de loggers de rotacion -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/bb-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%-5p] [%t] [%d{ddMMyyyy HH:mm:ss}] [%c[%L]] %m %n</Pattern>
        </encoder>

        <!-- Propiedad del archivo de loggers  de rotacion-->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}\bb-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Mensaje que se mandara por un archivo de errores de loggers de rotacion -->
    <appender name="RollingFileControllerWarning" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}\bbcontrollererror-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%-5p] [%t] [%d{ddMMyyyy HH:mm:ss}] [%c[%L]] %m %n</Pattern>
        </encoder>

        <!-- Propiedad del archivo de errores loggers de rotacion-->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/bbcontrollererror-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Programar loogers determinando archivos, niveles y propagacion -->

    <!-- el root logger establece un nivel de registro global para toda la aplicación -->
    <!-- root level="debug">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root -->

    <!-- los logger específicos se utilizan para controlar el registro en áreas o componentes específicos de la aplicación -->

    <!-- LOG para registrar loggers de acciones realizadas en el paquete com.challenge en consola  -->
    <logger name="com.challenge" level="debug" additivity="true">
        <appender-ref ref="Console" />
    </logger>

    <!-- LOG para registrar loggers de acciones realizadas en el paquete com.challenge.modelo_de_datos.service en el archivo de loggers de advertencias -->
    <logger name="com.challeng.modelo_de_datos.security" level="info" additivity="true">
        <appender-ref ref="RollingFile" />
    </logger>
    <logger name="com.challeng.modelo_de_datos.security" level="warn" additivity="true">
        <appender-ref ref="RollingFileControllerWarning" />
    </logger>

</configuration>